.footer {
    text-align: center;
    color: #aaa;
    margin-bottom: 25px;
}

.highlight .nb, .highlight .cp {
  color: #F69385;
}
.highlight .s, .highlight .s1, .highlight .s2, .highlight .se {
  color: #F1BF8E;
}
.highlight .nc, .highlight .vc, .highlight .bp {
  color: #99CBCA;
}
.highlight .kc {
  color: #B3EFE5;
}
.highlight .nf, .highlight .kt, .highlight .na {
  color: #B0D89C;
}
.highlight .o, .highlight .si {
  color: #F277A1;
}
.highlight .nv {
  color: #F277A1;
}
.highlight .k, .highlight .kd, .highlight .nt {
  color: #BB84B4;
}
.highlight .c1, .highlight .c2, .highlight .c {
  color: #929292;
}
.highlight .m, .highlight .mi, .highlight .mf, .highlight .mh {
  color: #9D8FF2;
}
